<div>
    <div class="panel-heading">
        <span class="label label-default label-center">{{ title }}</span>
    </div>

    <div class="panel-body">
        <img src={{image}} class="image-center"/>
        <div class="list-group">
            <div class="list-group-item">
                <span class="glyphicon glyphicon-arrow-right"></span>
                <strong>Find</strong> a Superhero
            </div>
            <div class="list-group-item">
                <span class="glyphicon glyphicon-arrow-right"></span>
                <strong>Register</strong> a Superhero
            </div>
            <div class="list-group-item">
                <span class="glyphicon glyphicon-arrow-right"></span>
                <strong>Fetch</strong> a Superhero
            </div>
        </div>
    </div>


</div>