<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>HelloConfigContext</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <context-param>
  	<param-name>contextExample</param-name>
  	<param-value>Global pizza chains</param-value>
  </context-param>
  <servlet>
    <servlet-name>FirstServ</servlet-name>
    <servlet-class>com.revature.servlet.FirstServ</servlet-class>
    <!-- Servlet config is an obj contatining initial params or config information 
    created by the servlet container and passed to this particular servlet during initialization. -->
    <init-param>
    	<param-name>configExample</param-name>
    	<param-value>Local pizza chains</param-value>
    </init-param>
    <load-on-startup>0</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>FirstServ</servlet-name>
    <url-pattern>/first</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SecondServ</servlet-name>
    <servlet-class>com.revature.servlet.SecondServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SecondServ</servlet-name>
    <url-pattern>/second</url-pattern>
  </servlet-mapping>
</web-app>